# .profile for tomcat
export JRE_HOME=/opt/tomcat/libs/{{ JAVA_VERSION }}/jre
export JAVA_BINDIR=/opt/tomcat/libs/{{ JAVA_VERSION }}/bin
export JAVA_HOME=/opt/tomcat/libs/{{ JAVA_VERSION }}
export SDK_HOME=/opt/tomcat/libs/{{ JAVA_VERSION }}
export JDK_HOME=/opt/tomcat/libs/{{ JAVA_VERSION }}
export JAVA_ROOT=/opt/tomcat/libs/{{ JAVA_VERSION }}
export PATH=${JAVA_HOME}/bin: ${PATH}
